certifi
Click
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scikit-learn
six
Werkzeug
streamlit~=1.10.0
pandas~=1.4.3
Flask-Cors==3.0.8
pandas
matplotlib
seaborn
catboost
python-dateutil
regexp
python-dateutil